body {
    padding-top: 5rem;
}

/* .news > ul {
    list-style-position: inside;
} */

.title_{
    border-top-style: solid;
    border-top-color: rgb(93, 211, 168);
    border-top-width: thick;
    padding-top: 10px;
    padding-left: 10px;
    /* padding-right: 10px; */
}

.box_ {
    box-shadow: 0 0 3px rgb(110, 109, 109);
}

.news_{
    padding-bottom: 20px;
}

footer  {
    padding-top: 20px;
}